    #product_body {
        background-color: rgb(244, 247, 247);
        margin-left: 40px;
        margin-right: 30px;
    }

    #top_path {
        color: gray;
        height: 51px;
        font-size: 17px;
    }

    #top_path>div {
        padding-top: 17px;
    }

    #product_container {
        display: flex;
        padding: 5px;

    }
    
    #product_filter {
        padding-top: 17px;
        width: 24%;
        font-size: 16px;
        background-color: rgb(255, 255, 255);
        padding-left: 16px;
        padding-right: 32px;


    }

    #category {
        padding-left: 20px;
        padding-top: 5px;
        font-weight: 100;
        color: gray;
        padding-bottom: 2em;
        border-bottom: 1px solid lightgray;
    }

    #price_filter {
        padding-top: 50px;
        font-size: 20px;
        border-bottom: 1px solid lightgray;
        padding-bottom: 2em;
        border: 1px solid red;
        
    }

    #brands_title{
        font-size: 16px;
        margin-right: 10px;
        border-top: 1px solid lightgray;

    }

    #product_sort_products {
        width: 70%;
        margin-left: 10px;
        background-color: rgb(255, 255, 255);

    }

    #product_sort>div {
        padding-top: 5%;
        font-size: 18px;
        padding-bottom: 1%;

    }

    #sort {
        height: 38px;
        width: 200px;
        margin-right: 15px;
        font-size: 12px;
        padding-left: 10px;
        border: .5px solid lightgray;


    }

    #product_sort {
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;

    }

    #product_products {
        min-width: 1260px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 315px);
        padding: 15px;
        gap: 30px;

    }

    #brands_title {
        font-size: 20px;
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }

    #vendor {
        display: flex;
        margin-top: 5px;

    }

    #vendor>div {
        font-size: 21px;
        margin: auto;
        margin-left: 0px;
        color: gray;
    }

    #button1>input {
        height: 18px;
        width: 18px;
    }



    #product_products>div>* {
        margin: 0%;
    }
